.photo-grid__item {
    max-width: 284px;
    max-height: 213px;
}

@media screen and (max-width: 1279px) {
    .photo-grid__item {
      max-width: 300px;
      max-height: 225px;
      gap: 14px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 1023px) {
    .photo-grid__item {
      max-width: 352px;
      max-height: 264px;
      row-gap: 16px;
      column-gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 767px) {
    .photo-grid__item {
      max-width: 288px;
      max-height: 216px;
      column-gap: 12px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
