.header {
    min-width: 1184px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 28px auto;
}

@media screen and (max-width: 1024px) {
    .header {
        min-width: 928px;
    }
}
  
@media screen and (max-width: 768px) {
    .header {
        min-width: 720px;
        margin: 28px auto;
    }
}
@media screen and (max-width: 720px) {
    .header {
        min-width: 288px;
        margin: 16px auto;
}
}