.cover__overlay {
    max-width: 1184px;
    min-height: min(740px, calc(100vw * 5 / 8));
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #fff;
    margin: 0 auto;
}

.cover__overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: #2a2b2c;
  }
  
  .cover__overlay:hover::after {
    opacity: .8;
  }

  @media screen and (max-width: 1279px) {
    .cover__overlay {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover__overlay {
        width: 100%;
    }
  }
  
  @media screen and (max-width: 520px) {
    .cover__overlay {
        width: 100%;
    }
  }