.cover__title {
    max-width: 560px;
    max-height: 152px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 33px;
    z-index: 1;
}