.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas:
        "title website"
        "image paragraph";
    row-gap: 48px;
    column-gap: 40px;
}

@media screen and (max-width: 1279px) {
    .place {
      max-width: 928px;
      grid-template-columns: 440px 1fr;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place {
      max-width: 720px;
      grid-template-columns: 340px 1fr;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place {
      width: 320px;
      margin-top: 48px;
      grid-template-columns: 320px;
      grid-template-areas:
        "title"
        "website"
        "image"
        "paragraph";
      grid-gap: 32px;
    }
  }
