.footer {
    max-width: 1184px;
    max-height: 18px;
    display: flex;
    justify-content: space-between;
    margin: 92px auto 0;
    padding: 0;
}
@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}
  
@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-top: 88px;
    }
}
@media screen and (max-width: 720px) {
    .footer {
        max-width: 186px;
        max-height: 306px;
        flex-direction: column;
        align-items: flex-start;
        margin: 64px 118px 0 16px;
}
}