.place__website {
    grid-area: website;
    
    max-width: 456px;
    max-height: 46px;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin-left: 16px;
    }
  }